{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    
   
    {% for message in messages %}
    <div class="bg-gray-100 text-center pt-1 lg:px-4"
      style="position: absolute; top: 0; left: 0; right: 0; z-index: 1000; width: 100%;"
      id="message_alart"
    >
      <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
        <span class="mr-2 p-1 text-left flex-auto">{{ message | safe }}</span>
      </div>
    </div>
    {% endfor %}
    {% block contentBody %}{% endblock %}
    <script src="{% static 'users/js/animation.js' %}"></script>
    <script src="{% static 'users/js/validation.js' %}"></script>
  </body>
</html>
