{% extends "memberships_base.html" %} {% load static %} {% block title %}
Password Reset Email Sent Successfully {% endblock %} 
{% block contentBody %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div
    class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0"
  >
    <!-- right side -->
    <div class="flex flex-col justify-center p-8 md:p-14">
      <span class="mb-3 text-3xl font-bold">
        Password Reset Email Sent Successfully
      </span>
      <span class="font-light text-gray-400 mb-8">
        Please check your email for the password reset link. If you don't see it
        in your inbox, check your spam folder. If you still can't find it,
        please contact us at
      </span>
      <a href="{% url 'memberships:home' %}">
        <button
          class="w-100 bg-black text-white p-2 rounded-lg mb-6 hover:bg-white hover:text-black font-semibold hover:border hover:border-gray-300 duration-300"
        >
          Return Home
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
