{% extends "memberships_base.html" %} {% load static %} {% block title %} Reset
New Password {% endblock %}
{% block contentBody %}

<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div
    class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0"
  >
    <!-- left side  -->
    <div class="relative">
      <img
        src="https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="img"
        class="w-[400px] h-full hidden rounded-l-2xl md:block object-cover"
      />
    </div>
    <!-- right side -->
    <div class="flex flex-col justify-center p-8 md:p-14">
      <span class="mb-3 text-3xl font-bold">Reset New Password</span>
      <span class="font-light text-gray-400 mb-8">
        Enter your new password.
      </span>
      <form
        method="POST"
        id="resetPasswordForm"
      >
        {% csrf_token %} 
        {{ form }}
        <button
          class="w-full bg-black text-white p-2 rounded-lg mb-6 hover:bg-white hover:text-black font-semibold hover:border hover:border-gray-300 mt-4 duration-300"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}