{% extends "memberships_base.html" %} 
{% load static %} 
{% block title %}Sign Out Confirm{% endblock %} 
{% block contentBody %}
<div class="flex items-center justify-center min-h-full bg-gray-100">
  <div
    class="relative flex flex-col  space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0"
  >
    <!-- right side -->
    <div class="flex flex-col justify-center p-8 md:p-14">
      <span class="mb-3 text-3xl font-bold md:text-4xl">
        Are you sure you want to sign out? 
      </span>
      <span class="font-light text-gray-400 mb-8">
        You can always sign in again if you want to access your account.
      </span>
      <form action="{% url 'users:sign_out' %}" method="POST">
        {% csrf_token %}
        <div class="flex justify-center">
          <button
            type="submit"
            class="px-4 py-2 mx-5 text-white bg-red-500 rounded-md hover:bg-red-600"
          >
            Sign Out
          </button>
          <a
            href="{% url 'memberships:home' %}"
            class="px-4 py-2 mx-5 text-white bg-blue-500 rounded-md hover:bg-blue-600"
          >
            Cancel
          </a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
